@model IEnumerable<Model.Member>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>


@foreach (Model.Member m in Model) {
    <div class="row">

        <div class="col-md-12">
            <a href="/memberhome/?memberid=@m.UserId"><span>@m.FirstName @m.LastName</span></a><br />
            <span>Message Count: </span>@m.Messages.Count
        </div>
    </div>
}

